.explainability-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b0d5d9;
}

.explainability-heading,
.section-heading {
    color: #086d5c;
    text-align: center;
    margin-top: 10px;
}

.section {
    margin: 10px;
    padding: 10px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resource-list {
    list-style-type: none;
    padding: 0;
}

.resource-item {
    background: #fafafa;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
