/* ScenariosPage.css */
.page-container {
    padding: 20px;
}

h2 {
    color: #006400; /* Dark green */
    margin-bottom: 15px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    background-color: #006400; /* Dark green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #32cd32; /* Lighter green */
}